extends layout

block content
  h1= title
  p Welcome to #{title}

  form(name="submit", method="POST", action="/jokes")
    label(for="joke") Write your joke:
    input(type="text", name="joke" id="joke")
    br 
    input(type="submit")