extends layout

block content
  h1= title
  p Welcome to #{title}

 br
  ul 
    each j in myJokes
      li= j

  form(name="submit", method="POST", action="/users")
    label(for="joke") Write your joke:
    input(type="text", name="joke" id="joke")
    br 
    input(type="submit")